html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Kurale', 'Georgia', serif;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Acme', 'Trebuchet MS', sans-serif;
}

#mainContainer {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "headerLogo headerBanner headerBanner headerBanner headerBanner headerBanner"
    "genAmenities naplesMap naplesMap naplesMap naplesMap naplesMap"
    "ballSports naplesMap naplesMap naplesMap naplesMap naplesMap"
    "aquatics naplesMap naplesMap naplesMap naplesMap naplesMap"
    "otherActivities naplesMap naplesMap naplesMap naplesMap naplesMap"
    "footer footer footer footer footer footer";
}

#mainContainer.mainContainerShowDesc {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "headerBanner parkDescription parkDescription parkDescription parkDescription parkDetails"
    "genAmenities naplesMap naplesMap naplesMap naplesMap naplesMap"
    "ballSports naplesMap naplesMap naplesMap naplesMap naplesMap"
    "aquatics naplesMap naplesMap naplesMap naplesMap naplesMap"
    "otherActivities naplesMap naplesMap naplesMap naplesMap naplesMap"
    "footer footer footer footer footer footer";
}


#headerBanner {
  grid-area: headerBanner;
  margin: 0;
  padding: 1rem;
  background: #fff;
}

#headerBanner h1 {
  text-align: left;
  margin: 0;
  font-size: 4rem;
  color: #336699;
}

#headerBanner p {
  font-size: 2rem;
  margin: 0;
}

#headerLogo {
  grid-area: headerLogo;
  margin: 0;
  padding: 0;
}

#parkDescription {
  grid-area: parkDescription;
  padding: 0 1rem 0 1rem;
  margin: 0;
  background: skyblue;
}

#parkDetails {
  grid-area: parkDetails;
  background: lightblue;
}

#parkDetails li {
  list-style-type: none;
}

.parkCategoryBox {
  background: #336699;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.parkCategoryBox p {
  flex: 1 1 auto;
  border: 1px solid #000;
  margin: 0;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  cursor: default;
  font-family: 'Acme', 'Trebuchet MS', sans-serif;
}

.parkCategoryBox div {
  flex: 1 1 auto;
  border: 1px solid #000;
  padding: 0.25rem 0 0.25rem 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255,222,126,1) 0%, rgba(255,239,164,1) 100%);
  color: #336699;
}

.parkCategoryBox div:active {
  background: linear-gradient(0deg, rgba(250,215,112,1) 0%, rgba(251,240,201,1) 50%, rgba(249,214,113,1) 100%);
}

.selectedOption {
  background: linear-gradient(0deg, rgba(255,230,141,1) 0%, rgba(234,255,188,1) 49%, rgba(112,247,201,1) 100%) !important;
}

#genAmenities {
  grid-area: genAmenities;
}

#ballSports {
  grid-area: ballSports;
}

#aquatics {
  grid-area: aquatics;
}

#otherActivities {
  grid-area: otherActivities;
}

#naplesMap {
  grid-area: naplesMap;
  min-height: 800px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 10px;
  margin: 0;
}

footer {
  grid-area: footer;
  text-align: center;
}

/* How to change Leaflet marker icon color, presented by sil: https://hungchienhsiang.medium.com/super-simple-way-to-change-leaflet-marker-color-7efd0996c797 */
img.huechange {
  filter: hue-rotate(120deg);
}

a {
  color: #004A9E;
}

a:hover {
  color: #0077FF;
  text-decoration: none;
}

/* Changes this once normal layout done */
@media screen and (max-width: 10px) {
  #container {
    padding: 1rem 0 1rem 0;
  }

  header {
    padding: 1rem 1rem 0 1rem;
  }

  p {
    padding: 0 1rem 0 1rem;
  }

  .map {
    height: 600px;
    width: 100%;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 10px;
  }
}
